/* My awesome Zen Garden Site */

/*Layout*/
* {
box-sizing: border-box;
}

/*color palette*/

/*footer nav*/

footer{
    background: yellow;
    display: flex;
    justify-content: space-around;
}

footer a {
    display: inline;
    background: teal;
    padding: 1em;
}

footer a {
    text-indent: -1000;
    transition: text-indent 1s
}

footer:hover a {
    text-indent: 0;
}